body{
  background: url("https://static.wikia.nocookie.net/starwars/images/a/a6/RiseOfTheBountyHunters-CN.jpg/revision/latest/scale-to-width-down/1000?cb=20090810010156") no-repeat center fixed;
  background-size: cover
 /*  background-repeat: no-repeat;
  background-size: cover;
  background: fixed center; */
}

*{
  box-sizing: border-box;
  margin: 0;

}

.jedi-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0, 32px;
  padding: 5px;
}
/* found on jedi.JS */
.jedi{
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  color: white;

}


.Header{
  border: 1px solid white;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
}

.close-btn{
  color: black;
  background-color: red;
  border-radius: 8px;
  
}

.add-btn{
  
  border-radius: 8px;
  color: white;
  background-color: grey;
  border-radius: 8px;
}

.delete-btn{
  color: black;
  background-color: red;
  border-radius: 8px;
}

.edit-btn{
  color: black;
  background-color:blue;
  border-radius: 8px;
}